
@model  WebApplication1.Models.MyFirstModel 
@{
    Layout = "~/Views/Default/Index";
    ViewBag.Title = "Hej";
}

<h2>Index</h2>
@ViewBag.Something<br />
@ViewBag.Title<br />
H1<br />

@Model.MyFirstValue<br/>
@Model.MySecondValue
@foreach (var s in Model.MyList)
{
    var something = s + "jjjj";
    var date = DateTime.Now.ToString();
    <p>@something  @date</p>
}